Hallo ###FE_USER_NAME###, die folgenden Files
haben sich in Ihrer Datenbank ge&auml;ndert.

<!--###CHANGED_MAILFORM_LINE### begin -->###TX_DAM_FILE_NAME###,&nbsp;###TX_DAM_FILE_PATH###
<!--###CHANGED_MAILFORM_LINE### end -->

mfg
Ihr Systemadministrator!